<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConsoleHelloWorldMessage" value="Hello World - Console Application" />
    <add key="WebApplicationHelloWorldMessage" value="Hello World - Web Application" />
    <add key="WindowsServiceHelloWorldMessage" value="Hello World - Windows Service Application" />
  </appSettings>
</configuration>